.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Bold.woff2") format("woff2"), url("../fonts/Livvic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Medium.woff2") format("woff2"), url("../fonts/Livvic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  color: #fff;
  background-color: #014E56;
  font-size: 1.6rem;
  font-family: 'Livvic', sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 719px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 357px;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.intro {
  position: relative;
  padding-bottom: 22.5rem;
}

.intro::before {
  content: '';
  width: 20rem;
  height: 20rem;
  position: absolute;
  background-image: url("../img/introimg.png");
  z-index: 1;
  top: 25rem;
  background-repeat: no-repeat;
}

.intro::after {
  content: '';
  width: 35.8rem;
  height: 10rem;
  position: absolute;
  background: url("../img/introimg2.png");
  right: 16.5rem;
  top: 60rem;
}

@media screen and (max-width: 1200px) {
  .intro::before {
    display: none;
  }
  .intro::after {
    right: 20.6rem;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    padding-bottom: 20rem;
  }
  .intro::after {
    right: auto;
    top: auto;
    bottom: 0;
    left: 0;
  }
}

header {
  padding-top: 7.3rem;
  padding-bottom: 7.3rem;
}

@media screen and (max-width: 700px) {
  header {
    padding-top: 4.8rem;
    padding-bottom: 8rem;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .header__nav {
    position: absolute;
    top: 11.2rem;
    width: 100%;
    height: calc(100vh - 100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2c6269;
    z-index: 3;
  }
  .header__nav::before {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    z-index: 2;
  }
}

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8rem;
  margin-right: 55.7rem;
}

@media screen and (max-width: 1200px) {
  .header__nav-list {
    margin-right: 15rem;
  }
}

@media screen and (max-width: 700px) {
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__nav-list--active {
  display: block;
}

.header__nav-item > a:hover {
  color: #F67E7E;
}

.header__nav-item:first-child {
  margin-right: 4rem;
}

.header__nav-btn {
  padding: 1rem 3rem;
  border: 2px solid #fff;
  border-radius: 2.4rem;
}

.header__nav-btn:hover {
  color: #002529;
  background-color: #fff;
}

.burger {
  display: none;
}

.header__nav-logo {
  display: inline-block;
}

@media screen and (max-width: 700px) {
  .header__nav-logo {
    width: 12.8rem;
    height: 3.2rem;
  }
}

@media screen and (max-width: 700px) {
  .burger {
    display: block;
    border: none;
    padding: 0;
    width: 20px;
    background-color: transparent;
    margin-left: auto;
  }
  .burger::before,
  .burger__inner,
  .burger::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin-bottom: 3px;
  }
  .burger::after {
    margin-bottom: 0;
  }
  .burger--active .burger__inner {
    display: none;
  }
  .burger--active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: 0;
    position: relative;
    top: 4px;
  }
  .burger--active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.intro__words {
  margin-top: 5.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .intro__words {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .intro__words {
    margin-top: 0;
  }
}

.intro__words-main {
  font-weight: bold;
  font-size: 10rem;
  width: 60rem;
}

@media screen and (max-width: 1200px) {
  .intro__words-main {
    font-size: 6.4rem;
    width: 35rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }
}

@media screen and (max-width: 700px) {
  .intro__words-main {
    font-size: 4rem;
    width: 22rem;
  }
}

.red {
  color: #F67E7E;
}

.intro__words-info {
  width: 44.5rem;
  font-size: 1.8rem;
  padding-top: 13rem;
  font-weight: 600;
  position: relative;
}

.intro__words-info::before {
  content: '';
  top: 0;
  background: #79C8C7;
  position: absolute;
  width: 5rem;
  height: 4px;
}

@media screen and (max-width: 1200px) {
  .intro__words-info {
    font-size: 1.5rem;
    width: 45.7rem;
    padding: 0;
    margin: 0 auto;
  }
  .intro__words-info::before {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .intro__words-info {
    width: 32.7rem;
    line-height: 2.8rem;
  }
}

.benefits {
  background-color: #012F34;
  padding-top: 20rem;
  padding-bottom: 14rem;
  position: relative;
}

.benefits::after {
  content: '';
  position: absolute;
  width: 10rem;
  height: 24.4rem;
  background: url("../img/benefits.png");
  right: 0;
  top: 44rem;
}

@media screen and (max-width: 1200px) {
  .benefits {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .benefits::after {
    top: 0;
  }
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .benefits__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 57.3rem;
    margin: 0 auto;
  }
}

.benefits__headword {
  font-size: 4.8rem;
  font-weight: bold;
  width: 44.5rem;
  position: relative;
}

.benefits__headword::before {
  content: '';
  top: -54px;
  background: #F67E7E;
  position: absolute;
  width: 5rem;
  height: 4px;
}

@media screen and (max-width: 1200px) {
  .benefits__headword {
    margin-bottom: 6.4rem;
    font-size: 3.2rem;
  }
  .benefits__headword::before {
    top: -32px;
  }
}

@media screen and (max-width: 700px) {
  .benefits__headword {
    width: 20rem;
  }
}

.benefits__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.benefits__list-item {
  margin-bottom: 3.2rem;
  position: relative;
}

.benefits__list-item::before {
  content: '';
  position: absolute;
  left: -9.5rem;
  width: 7.2rem;
  height: 7.2rem;
  background: url("../img/benefit1.png");
}

.benefits__list-item:nth-child(2)::before {
  background: url("../img/benefit2.png");
}

.benefits__list-item:last-child {
  margin-bottom: 0;
}

.benefits__list-item:last-child::before {
  background: url("../img/benefit3.png");
}

@media screen and (max-width: 700px) {
  .benefits__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits__list-item::before {
    position: relative;
    top: 0;
    left: 0;
  }
}

.benefits__list-head {
  color: #F67E7E;
  line-height: 2.8rem;
}

.benefits__list-info {
  font-weight: 600;
  line-height: 2.5rem;
  opacity: 0.8;
  width: 44.5rem;
  font-size: 1.5rem;
  margin-top: 1.6rem;
}

@media screen and (max-width: 700px) {
  .benefits__list-info {
    width: 32.7rem;
    text-align: center;
  }
}

.result {
  padding-top: 14rem;
  padding-bottom: 14rem;
  position: relative;
}

.result::before {
  content: '';
  position: absolute;
  top: 0;
  width: 14.7rem;
  height: 10rem;
  background: url("../img/result1.png");
}

.result::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 10rem;
  background: url("../img/result2.png");
}

@media screen and (max-width: 1200px) {
  .result {
    padding-top: 10rem;
  }
}

.result__name {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  width: 94.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .result__name {
    font-size: 3.2rem;
    width: 48rem;
  }
}

@media screen and (max-width: 700px) {
  .result__name {
    width: 32.7rem;
    margin-top: 4rem;
  }
}

.green {
  color: #79C8C7;
}

.result__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9.2rem;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .result__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.result__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.result__list-item::before {
  content: '';
  width: 6.7rem;
  height: 5.6rem;
  position: absolute;
  top: -4rem;
  left: 14rem;
  background: url("../img/quote.png");
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .result__list-item {
    margin-bottom: 4.8em;
  }
  .result__list-item::before {
    left: calc( 50% - 35px);
  }
  .result__list-item:last-child {
    margin-bottom: 0;
  }
}

.result__list-quote {
  font-size: 1.5rem;
  font-weight: 600;
  width: 35rem;
}

@media screen and (max-width: 1200px) {
  .result__list-quote {
    width: 57.3rem;
  }
}

@media screen and (max-width: 700px) {
  .result__list-quote {
    width: 32.7rem;
    line-height: 2.5rem;
  }
}

.result__list-name {
  color: #79C8C7;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2.4rem;
}

.result__list-info {
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 2px;
}

.result__list-photo {
  width: 6.2rem;
  height: 6.2rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #79C8C7;
  margin-top: 3.2rem;
}

.call {
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
  background-color: #F67E7E;
  color: #012F34;
  position: relative;
}

.call::before {
  content: '';
  position: absolute;
  top: 5.9rem;
  width: 20rem;
  height: 14.4rem;
  background: url("../img/call.png");
}

@media screen and (max-width: 1200px) {
  .call {
    padding-top: 9.5rem;
    padding-bottom: 9.5rem;
  }
  .call::before {
    top: auto;
    bottom: 0;
  }
}

.call__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .call__container {
    width: 57.3rem;
  }
}

@media screen and (max-width: 700px) {
  .call__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.call__headname {
  font-family: 'Livvic', sans-serif;
  font-size: 4.8rem;
  font-weight: bold;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .call__headname {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 700px) {
  .call__headname {
    width: 22.7rem;
    text-align: center;
    margin: 0;
  }
}

.call__link {
  color: #012F34;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 3rem;
  border: 2px solid #012F34;
  border-radius: 2.4rem;
}

.call__link:hover {
  color: #fff;
  background-color: #012F34;
}

@media screen and (max-width: 700px) {
  .call__link {
    margin-top: 2.4rem;
    margin-bottom: 5px;
  }
}

.footer {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  background-color: #002529;
}

@media screen and (max-width: 700px) {
  .footer {
    padding-bottom: 16rem;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 700px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .footer__logo {
    width: 10rem;
    height: 2.4rem;
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  .footer__nav {
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .footer__nav {
    margin: 0;
  }
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

.footer__list-item {
  margin-right: 4rem;
}

.footer__list-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .footer__list-item:first-child {
    margin-right: 2.4rem;
  }
}

@media screen and (max-width: 700px) {
  .footer__list-item {
    margin: 0;
  }
}

.footer__list-link {
  font-weight: 600;
  font-size: 18px;
}

.footer__list-link:hover {
  color: #F67E7E;
}

@media screen and (max-width: 1200px) {
  .footer__list-link {
    font-size: 1.5rem;
  }
}

.footer__address {
  font-weight: 600;
  font-size: 1.5rem;
  opacity: 0.6;
  width: 20rem;
  margin-left: 12.5rem;
  margin-right: auto;
  line-height: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .footer__address {
    margin: 0;
    text-align: right;
    margin-left: 30.5rem;
  }
}

@media screen and (max-width: 700px) {
  .footer__address {
    text-align: center;
    margin: 0;
    margin-top: 2.4rem;
  }
}

.footer__words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .footer__words {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .footer__words {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
  }
}

.footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.1rem;
  margin-left: 15rem;
}

@media screen and (max-width: 1200px) {
  .footer__social {
    margin: 0;
    margin-right: 33rem;
  }
}

@media screen and (max-width: 700px) {
  .footer__social {
    margin: 0;
  }
}

.footer__social-item {
  margin-right: 1.5rem;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-logo {
  fill: #fff;
}

.footer__social-logo:hover {
  fill: #F67E7E;
}

.footer__copywrite {
  font-size: 1.5rem;
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .footer__copywrite {
    margin-top: 1.6rem;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */