.contact__main {
    position: relative;
    &::before {
        content: '';
        width: 10rem;
        height: 20rem;
        position: absolute;
        background-image: url("../img/directors.png");
        background-repeat: no-repeat;
    }

    &::after {
        content: '';
        width: 10rem;
        height: 22.5rem;
        position: absolute;
        background-image: url("../img/contacts.png");
        bottom: 0;
        right: 0;
    } 

    @include respond(mobile) {
        &::before {
            display: none;
        }

        &::after {
            height: 112.5px;
            width: 10rem;
        }
    }
}

.contact__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
}

.contact__headname {
    font-size: 64px;
    line-height: 100px;

    @include respond(tablet) {
        text-align: center;
    }

    @include respond(mobile) {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 1.6rem;
    }
}

.contact__words-info {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
    margin-bottom: 4rem;


    @include respond(tablet) {
        text-align: center;
    }
    @include respond(mobile) {
        font-size: 3.2rem;
        margin: 0;
        margin-bottom: 4rem;
    }
}

.contact__list-item {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        width: 7.2rem;
        height: 7.2rem;
        background: url("../img/benefit1.png");
    }

    &:nth-child(2)::before {
        background: url("../img/benefit2.png");
    }

    &:last-child {
        margin-bottom: 0;

        &::before {
            background: url("../img/benefit3.png");
        }
    }
}

.contact__list-name {
    margin-left: 2.3rem;
    @include respond(mobile) {
        width: 23.2rem;
    } 
}

textarea {
    resize: none;
    width: 54rem;
    height: 8.4rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 2.4rem;

    &::placeholder {
        color: #fff;
        opacity: 0.6;
    }

    &:valid {
        border-bottom: 1px solid #79C8C7;
        color: #fff;
    }
    @include respond(mobile) {
        width: 32.7rem;
    }
   
}

.form__button {
    color: #004047;
    font-size: 18px;
    line-height: 28px;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    border: none;
}
input:not(:placeholder-shown):invalid ,textarea:not(:placeholder-shown):invalid {
    border-bottom: 1px solid red;

    &::placeholder {
        color: #F67E7E;
        opacity: 0.6;
    }
}
input {
   
    width: 54rem;
    height: 4.2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 2.4rem;
    &::placeholder {
        color: #fff;
        opacity: 0.6;
    }

    
    &:focus {
        border: none;
        background-color: #002529;
    }
   
    &:valid {
        border-bottom: 1px solid #79C8C7;
        color: #fff;
    }
    @include respond(mobile) {
        width: 32.7rem;
    }

}

input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;

    
    &:focus {
        border: none;
        background-color: #002529;
    }
    &:valid {
        border-bottom: 1px solid #79C8C7;
        color: #fff;
    }
    @include respond(mobile) {
        width: 32.7rem;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.contact__form {
    margin-top: 5rem;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12rem;
    @include respond(tablet) {
        flex-direction: column;
    }
}